nodered-lib/flows/flows-all.json
[
    {
        "id": "2c48f79e.9df508",
        "type": "tab",
        "label": "trigger-panicbutton",
        "disabled": false,
        "info": ""
    },
    {
        "id": "62508a6d.32b454",
        "type": "tab",
        "label": "checkpoint-pressbutton",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d32fff8b.cab19",
        "type": "tab",
        "label": "checkpoint-complete",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2c9fcfa3.010e8",
        "type": "tab",
        "label": "core-output_handler",
        "disabled": false,
        "info": ""
    },
    {
        "id": "37ab08cb.d3bfc8",
        "type": "tab",
        "label": "action-message",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3765c71f.331208",
        "type": "tab",
        "label": "action-checklist",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9bbfeeea.fdd2e",
        "type": "tab",
        "label": "output-demo_client",
        "disabled": false,
        "info": ""
    },
    {
        "id": "abea0545.97074",
        "type": "tab",
        "label": "output-demo_speaker",
        "disabled": false,
        "info": ""
    },
    {
        "id": "86730dd6.1d2e3",
        "type": "tab",
        "label": "trigger-mic",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2c8ee2e3.fdea2e",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/demo-client",
        "wholemsg": "false"
    },
    {
        "id": "5ead43ed.099534",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/demo-speaker",
        "wholemsg": "false"
    },
    {
        "id": "a34b972b.b2ed6",
        "type": "http in",
        "z": "62508a6d.32b454",
        "name": "",
        "url": "/nrf/checkpoint/pressbutton",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 298,
        "y": 213,
        "wires": [
            [
                "be2061da.401168",
                "b927883.066b4f8"
            ]
        ]
    },
    {
        "id": "b1d9ff68.d9ce08",
        "type": "http request",
        "z": "62508a6d.32b454",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": true,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 734,
        "y": 474,
        "wires": [
            []
        ]
    },
    {
        "id": "98ec715d.f33e2",
        "type": "json",
        "z": "62508a6d.32b454",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "3f4e2cbd.7231c4"
            ]
        ]
    },
    {
        "id": "3f4e2cbd.7231c4",
        "type": "split",
        "z": "62508a6d.32b454",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 784,
        "y": 176,
        "wires": [
            [
                "f6505fa2.f0271"
            ]
        ]
    },
    {
        "id": "13e0dc69.d930ec",
        "type": "debug",
        "z": "62508a6d.32b454",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 894,
        "y": 358,
        "wires": []
    },
    {
        "id": "be2061da.401168",
        "type": "http response",
        "z": "62508a6d.32b454",
        "name": "",
        "statusCode": "",
        "headers": {
            "Access-Control-Allow-Origin": "*"
        },
        "x": 537,
        "y": 222,
        "wires": []
    },
    {
        "id": "f6505fa2.f0271",
        "type": "change",
        "z": "62508a6d.32b454",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.endpoint",
                "pt": "msg",
                "to": "url",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 637,
        "y": 341,
        "wires": [
            [
                "b1d9ff68.d9ce08",
                "13e0dc69.d930ec"
            ]
        ]
    },
    {
        "id": "a8942268.1ef458",
        "type": "http in",
        "z": "37ab08cb.d3bfc8",
        "name": "",
        "url": "/nrf/action/message",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 212.5,
        "y": 200,
        "wires": [
            [
                "310da76.64a7858",
                "6179eddd.c3b764",
                "32e300d3.e2581"
            ]
        ]
    },
    {
        "id": "310da76.64a7858",
        "type": "http response",
        "z": "37ab08cb.d3bfc8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 431.5,
        "y": 192,
        "wires": []
    },
    {
        "id": "32e300d3.e2581",
        "type": "http request",
        "z": "37ab08cb.d3bfc8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://localhost:9000/api/nrf/core/output_handler",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 590,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "6179eddd.c3b764",
        "type": "debug",
        "z": "37ab08cb.d3bfc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "bffebeb6.8afe08",
        "type": "http in",
        "z": "9bbfeeea.fdd2e",
        "name": "",
        "url": "/demo-client",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 420,
        "wires": [
            [
                "bf4be342.73f34"
            ]
        ]
    },
    {
        "id": "bf4be342.73f34",
        "type": "template",
        "z": "9bbfeeea.fdd2e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "x": 460,
        "y": 420,
        "wires": [
            [
                "a513c237.2ee7e8"
            ]
        ]
    },
    {
        "id": "a513c237.2ee7e8",
        "type": "http response",
        "z": "9bbfeeea.fdd2e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "4987a2c5.c4176c",
        "type": "http in",
        "z": "2c9fcfa3.010e8",
        "name": "",
        "url": "/nrf/core/output_handler",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "7df09130.161db",
                "f00f9b24.eca978"
            ]
        ]
    },
    {
        "id": "9a036397.4155b8",
        "type": "debug",
        "z": "2c9fcfa3.010e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "326c509f.63f64",
        "type": "websocket out",
        "z": "9bbfeeea.fdd2e",
        "name": "",
        "server": "2c8ee2e3.fdea2e",
        "client": "",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "3ba5394.b5fc3c6",
        "type": "http in",
        "z": "9bbfeeea.fdd2e",
        "name": "",
        "url": "/nrf/output/demo_client",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "49d87d96.0c1054",
                "326c509f.63f64",
                "e4f93f03.d6eb9",
                "4e7384d4.2f6b04"
            ]
        ]
    },
    {
        "id": "49d87d96.0c1054",
        "type": "http response",
        "z": "9bbfeeea.fdd2e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "c9542e66.65c1e8",
        "type": "websocket in",
        "z": "9bbfeeea.fdd2e",
        "name": "",
        "server": "2c8ee2e3.fdea2e",
        "client": "",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "608ed2df.b95994"
            ]
        ]
    },
    {
        "id": "608ed2df.b95994",
        "type": "function",
        "z": "9bbfeeea.fdd2e",
        "name": "",
        "func": "delete msg._session;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "326c509f.63f64"
            ]
        ]
    },
    {
        "id": "e4f93f03.d6eb9",
        "type": "debug",
        "z": "9bbfeeea.fdd2e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "5634e6cd.9149f8",
        "type": "switch",
        "z": "2c9fcfa3.010e8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "(\"/nrf/output/demo_client\" in payload.output[].endpoint)",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "(\"/nrf/output/demo_speaker\" in payload.output[].endpoint)",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "a16de96.cb89998",
                "9a036397.4155b8"
            ],
            [
                "fbbc2cd8.cd63d8"
            ]
        ]
    },
    {
        "id": "a16de96.cb89998",
        "type": "http request",
        "z": "2c9fcfa3.010e8",
        "name": "output/demo_client",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "localhost:9000/api/nrf/output/demo_client",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 680,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7df09130.161db",
        "type": "http response",
        "z": "2c9fcfa3.010e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "f00f9b24.eca978",
        "type": "delay",
        "z": "2c9fcfa3.010e8",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "5634e6cd.9149f8"
            ]
        ]
    },
    {
        "id": "83410295.f33cc",
        "type": "http in",
        "z": "3765c71f.331208",
        "name": "",
        "url": "/nrf/action/checklist",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "2ab021.013e8fe",
                "418ef1b0.89b69",
                "319c3db4.115faa"
            ]
        ]
    },
    {
        "id": "2ab021.013e8fe",
        "type": "http response",
        "z": "3765c71f.331208",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 479,
        "y": 172,
        "wires": []
    },
    {
        "id": "319c3db4.115faa",
        "type": "http request",
        "z": "3765c71f.331208",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://localhost:9000/api/nrf/core/output_handler",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "418ef1b0.89b69",
        "type": "debug",
        "z": "3765c71f.331208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 617.5,
        "y": 300,
        "wires": []
    },
    {
        "id": "ee7aae3.6c573d",
        "type": "http in",
        "z": "2c48f79e.9df508",
        "name": "",
        "url": "/nrf/trigger/panicbutton",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "cce87a8b.d920a",
                "67d319d2.dba018"
            ]
        ]
    },
    {
        "id": "79078872.fcc9d",
        "type": "http request",
        "z": "2c48f79e.9df508",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": true,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 606,
        "y": 521,
        "wires": [
            []
        ]
    },
    {
        "id": "f9821123.48d5f",
        "type": "json",
        "z": "2c48f79e.9df508",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "375db758.8794d8"
            ]
        ]
    },
    {
        "id": "375db758.8794d8",
        "type": "split",
        "z": "2c48f79e.9df508",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 530,
        "y": 280,
        "wires": [
            [
                "5ee9cf3c.f4065",
                "ac758cdb.0a3618"
            ]
        ]
    },
    {
        "id": "ae1f4179.f4881",
        "type": "debug",
        "z": "2c48f79e.9df508",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 746,
        "y": 405,
        "wires": []
    },
    {
        "id": "cce87a8b.d920a",
        "type": "http response",
        "z": "2c48f79e.9df508",
        "name": "",
        "statusCode": "",
        "headers": {
            "Access-Control-Allow-Origin": "*"
        },
        "x": 409,
        "y": 269,
        "wires": []
    },
    {
        "id": "5ee9cf3c.f4065",
        "type": "change",
        "z": "2c48f79e.9df508",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.endpoint",
                "pt": "msg",
                "to": "url",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 509,
        "y": 388,
        "wires": [
            [
                "79078872.fcc9d"
            ]
        ]
    },
    {
        "id": "4b169a4b.d6c1e4",
        "type": "http request",
        "z": "2c48f79e.9df508",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "f9821123.48d5f"
            ]
        ]
    },
    {
        "id": "700abcb.3c4ed44",
        "type": "http in",
        "z": "d32fff8b.cab19",
        "name": "",
        "url": "/nrf/checkpoint/complete",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "bd1b38db.c113d",
                "40c07d30.f53c84"
            ]
        ]
    },
    {
        "id": "5c13019a.0056e8",
        "type": "http request",
        "z": "d32fff8b.cab19",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": true,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 586,
        "y": 481,
        "wires": [
            []
        ]
    },
    {
        "id": "6c206f67.bb35b",
        "type": "json",
        "z": "d32fff8b.cab19",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "ddfda952.6280e"
            ]
        ]
    },
    {
        "id": "ddfda952.6280e",
        "type": "split",
        "z": "d32fff8b.cab19",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 710,
        "y": 200,
        "wires": [
            [
                "b8c1e35f.41fd",
                "c2f65c77.398c"
            ]
        ]
    },
    {
        "id": "c2f65c77.398c",
        "type": "debug",
        "z": "d32fff8b.cab19",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd1b38db.c113d",
        "type": "http response",
        "z": "d32fff8b.cab19",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "b8c1e35f.41fd",
        "type": "change",
        "z": "d32fff8b.cab19",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.endpoint",
                "pt": "msg",
                "to": "url",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 489,
        "y": 348,
        "wires": [
            [
                "5c13019a.0056e8",
                "c2f65c77.398c"
            ]
        ]
    },
    {
        "id": "a714d27c.9ea8e",
        "type": "http in",
        "z": "2c48f79e.9df508",
        "name": "",
        "url": "/nrf/trigger/panicbutton",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "cce87a8b.d920a",
                "67d319d2.dba018"
            ]
        ]
    },
    {
        "id": "6e5b0ee0.c30de8",
        "type": "http in",
        "z": "62508a6d.32b454",
        "name": "",
        "url": "/nrf/checkpoint/pressbutton",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "be2061da.401168",
                "b927883.066b4f8"
            ]
        ]
    },
    {
        "id": "7d240085.cf975",
        "type": "http in",
        "z": "d32fff8b.cab19",
        "name": "",
        "url": "/nrf/checkpoint/complete",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "bd1b38db.c113d",
                "40c07d30.f53c84"
            ]
        ]
    },
    {
        "id": "40c07d30.f53c84",
        "type": "change",
        "z": "d32fff8b.cab19",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.params",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "8d35a99e.36df08"
            ]
        ]
    },
    {
        "id": "98ff12eb.9e3ba",
        "type": "watson-text-to-speech",
        "z": "abea0545.97074",
        "name": "",
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-US_AllisonV3Voice",
        "voicehidden": "en-US_AllisonV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "",
        "payload-response": true,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
        "x": 500,
        "y": 220,
        "wires": [
            [
                "87aeeebc.a282d8",
                "eb737c05.4be4f8"
            ]
        ]
    },
    {
        "id": "87aeeebc.a282d8",
        "type": "debug",
        "z": "abea0545.97074",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "f5a1565e.6d4978",
        "type": "play audio",
        "z": "abea0545.97074",
        "name": "",
        "voice": "0",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "eb737c05.4be4f8",
        "type": "websocket out",
        "z": "abea0545.97074",
        "name": "",
        "server": "5ead43ed.099534",
        "client": "",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "7d767cbd.d5b67c",
        "type": "http in",
        "z": "abea0545.97074",
        "name": "",
        "url": "/nrf/output/demo_speaker",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "8d6c6234.009e9",
                "30211b2d.0806ac",
                "87aeeebc.a282d8"
            ]
        ]
    },
    {
        "id": "8d6c6234.009e9",
        "type": "http response",
        "z": "abea0545.97074",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "6fd1e7b5.dc0568",
        "type": "websocket in",
        "z": "abea0545.97074",
        "name": "",
        "server": "5ead43ed.099534",
        "client": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "c5df6a22.dcd35"
            ]
        ]
    },
    {
        "id": "c5df6a22.dcd35",
        "type": "function",
        "z": "abea0545.97074",
        "name": "",
        "func": "delete msg._session;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "eb737c05.4be4f8"
            ]
        ]
    },
    {
        "id": "fbbc2cd8.cd63d8",
        "type": "http request",
        "z": "2c9fcfa3.010e8",
        "name": "output/demo_speaker",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "localhost:9000/api/nrf/output/demo_speaker",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 680,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "30211b2d.0806ac",
        "type": "template",
        "z": "abea0545.97074",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.params.speakContent}}",
        "output": "str",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "98ff12eb.9e3ba"
            ]
        ]
    },
    {
        "id": "ac758cdb.0a3618",
        "type": "change",
        "z": "2c48f79e.9df508",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"/api/plan/\" & msg.payload.payload.id & \"/next\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "60995711.e7d02",
                "ae1f4179.f4881"
            ]
        ]
    },
    {
        "id": "60995711.e7d02",
        "type": "http request",
        "z": "2c48f79e.9df508",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 710,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4e7384d4.2f6b04",
        "type": "socketio-out",
        "z": "9bbfeeea.fdd2e",
        "name": "",
        "path": "payload.id",
        "pathType": "msg",
        "value": "payload",
        "valueType": "msg",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "4225d793.08de28",
        "type": "socketio-in",
        "z": "9bbfeeea.fdd2e",
        "name": "",
        "path": "socket.io",
        "output": "payload",
        "pathType": "str",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "aa312240.1e8a3"
            ]
        ]
    },
    {
        "id": "aa312240.1e8a3",
        "type": "debug",
        "z": "9bbfeeea.fdd2e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "67d319d2.dba018",
        "type": "change",
        "z": "2c48f79e.9df508",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$env(\"SYSTEM_URL\") & \"/api/_plan/flow?subscribedTo=/nrf/trigger/panicbutton\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Accept\":\"application/json\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "4b169a4b.d6c1e4"
            ]
        ]
    },
    {
        "id": "fc1ef292.fdee2",
        "type": "http request",
        "z": "62508a6d.32b454",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "98ec715d.f33e2"
            ]
        ]
    },
    {
        "id": "b927883.066b4f8",
        "type": "change",
        "z": "62508a6d.32b454",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$env(\"SYSTEM_URL\") & \"/api/_plan/flow?subscribedTo=/nrf/checkpoint/pressbutton\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Accept\":\"application/json\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "fc1ef292.fdee2"
            ]
        ]
    },
    {
        "id": "bea95514.6878a",
        "type": "http request",
        "z": "d32fff8b.cab19",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 100,
        "wires": [
            [
                "6c206f67.bb35b"
            ]
        ]
    },
    {
        "id": "8d35a99e.36df08",
        "type": "change",
        "z": "d32fff8b.cab19",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$env(\"SYSTEM_URL\") & \"/api/_plan/flow?subscribedTo=/nrf/checkpoint/complete\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Accept\":\"application/json\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "bea95514.6878a"
            ]
        ]
    }
]