nodered-lib/flows/flows/action-checklist.json
[
  {
    "id": "3765c71f.331208",
    "type": "tab",
    "label": "action-checklist",
    "disabled": false,
    "info": ""
  },
  {
    "id": "83410295.f33cc",
    "type": "http in",
    "z": "3765c71f.331208",
    "name": "",
    "url": "/nrf/action/checklist",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 260,
    "y": 180,
    "wires": [
      [
        "2ab021.013e8fe",
        "418ef1b0.89b69",
        "4f563a7b.34344c"
      ]
    ]
  },
  {
    "id": "2ab021.013e8fe",
    "type": "http response",
    "z": "3765c71f.331208",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 479,
    "y": 172,
    "wires": []
  },
  {
    "id": "319c3db4.115faa",
    "type": "http request",
    "z": "3765c71f.331208",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": false,
    "url": "",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 650,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "418ef1b0.89b69",
    "type": "debug",
    "z": "3765c71f.331208",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 617.5,
    "y": 300,
    "wires": []
  },
  {
    "id": "4f563a7b.34344c",
    "type": "change",
    "z": "3765c71f.331208",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "$env(\"SYSTEM_URL\") & \"/api/red/nrf/core/output_handler\"",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 360,
    "wires": [
      [
        "319c3db4.115faa"
      ]
    ]
  }
]