nodered-lib/flows/flows/action-message.json
[
  {
    "id": "37ab08cb.d3bfc8",
    "type": "tab",
    "label": "action-message",
    "disabled": false,
    "info": ""
  },
  {
    "id": "a8942268.1ef458",
    "type": "http in",
    "z": "37ab08cb.d3bfc8",
    "name": "",
    "url": "/nrf/action/message",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 212.5,
    "y": 200,
    "wires": [
      [
        "310da76.64a7858",
        "9616292e.5fb01"
      ]
    ]
  },
  {
    "id": "310da76.64a7858",
    "type": "http response",
    "z": "37ab08cb.d3bfc8",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 431.5,
    "y": 192,
    "wires": []
  },
  {
    "id": "32e300d3.e2581",
    "type": "http request",
    "z": "37ab08cb.d3bfc8",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": false,
    "url": "",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 590,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "6179eddd.c3b764",
    "type": "debug",
    "z": "37ab08cb.d3bfc8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 550,
    "y": 320,
    "wires": []
  },
  {
    "id": "9616292e.5fb01",
    "type": "change",
    "z": "37ab08cb.d3bfc8",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "$env(\"SYSTEM_URL\") & \"/api/red/nrf/core/output_handler\"",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 380,
    "wires": [
      [
        "32e300d3.e2581",
        "6179eddd.c3b764"
      ]
    ]
  }
]