nodered-lib/flows/flows/output-demo_speaker.json
[
  {
    "id": "abea0545.97074",
    "type": "tab",
    "label": "output-demo_speaker",
    "disabled": false,
    "info": ""
  },
  {
    "id": "98ff12eb.9e3ba",
    "type": "watson-text-to-speech",
    "z": "abea0545.97074",
    "name": "",
    "lang": "en-US",
    "langhidden": "en-US",
    "langcustom": "NoCustomisationSetting",
    "langcustomhidden": "",
    "voice": "en-US_AllisonV3Voice",
    "voicehidden": "en-US_AllisonV3Voice",
    "format": "audio/wav",
    "password": "",
    "apikey": "",
    "payload-response": false,
    "default-endpoint": true,
    "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
    "x": 520,
    "y": 380,
    "wires": [
      [
        "87aeeebc.a282d8",
        "2f382103.ace5f6"
      ]
    ]
  },
  {
    "id": "87aeeebc.a282d8",
    "type": "debug",
    "z": "abea0545.97074",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 710,
    "y": 260,
    "wires": []
  },
  {
    "id": "eb737c05.4be4f8",
    "type": "websocket out",
    "z": "abea0545.97074",
    "name": "",
    "server": "5ead43ed.099534",
    "client": "",
    "x": 640,
    "y": 580,
    "wires": []
  },
  {
    "id": "7d767cbd.d5b67c",
    "type": "http in",
    "z": "abea0545.97074",
    "name": "",
    "url": "/nrf/output/demo_speaker",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 240,
    "wires": [
      [
        "8d6c6234.009e9",
        "1f65e039.c40a88"
      ]
    ]
  },
  {
    "id": "8d6c6234.009e9",
    "type": "http response",
    "z": "abea0545.97074",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 490,
    "y": 220,
    "wires": []
  },
  {
    "id": "6fd1e7b5.dc0568",
    "type": "websocket in",
    "z": "abea0545.97074",
    "name": "",
    "server": "5ead43ed.099534",
    "client": "",
    "x": 190,
    "y": 380,
    "wires": [
      [
        "c5df6a22.dcd35"
      ]
    ]
  },
  {
    "id": "c5df6a22.dcd35",
    "type": "function",
    "z": "abea0545.97074",
    "name": "",
    "func": "delete msg._session;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 440,
    "wires": [
      [
        "eb737c05.4be4f8"
      ]
    ]
  },
  {
    "id": "90f40d09.08d7a8",
    "type": "change",
    "z": "abea0545.97074",
    "name": "",
    "rules": [
      {
        "t": "move",
        "p": "speech",
        "pt": "msg",
        "to": "payload.audio",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 630,
    "y": 480,
    "wires": [
      [
        "eb737c05.4be4f8"
      ]
    ]
  },
  {
    "id": "1f65e039.c40a88",
    "type": "change",
    "z": "abea0545.97074",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload2",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 300,
    "wires": [
      [
        "493af6a0.4626f"
      ]
    ]
  },
  {
    "id": "493af6a0.4626f",
    "type": "change",
    "z": "abea0545.97074",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.params.speakContent",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 340,
    "wires": [
      [
        "98ff12eb.9e3ba"
      ]
    ]
  },
  {
    "id": "2f382103.ace5f6",
    "type": "change",
    "z": "abea0545.97074",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload2",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 580,
    "y": 420,
    "wires": [
      [
        "90f40d09.08d7a8"
      ]
    ]
  }
]